/* :root {
  font-size: 62.5%;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  /*variáveis*/
  --bg-color: #242121;
  --text-color: #ffffff;
  --primary-color: rgb(3, 116, 139);
  --primary-color-dark: rgb(66, 66, 74);
}
body.dark-blue {
  --bg-color: #00082f;
  --text-color: #fefefe;
  --primary-color: #4263eb;
  --primary-color-dark: #364fc7;
}
body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}
body.dark-pink {
  --bg-color: #1f000b;
  --text-color: #fff0f6;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e4d;
}
body {
  font-size: 1.6rem;
  background: var(--bg-color);
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.page {
  border-radius: 2rem;
  width: 35rem;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
}
.page img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  padding: 0.3rem;
}
.page .title {
  margin-top: 2rem;
}
.page .subtitle {
  margin-top: 1rem;
}
.page p a {
  text-decoration: none;
  color: var(--text-color);
}

.page ul {
  margin-top: 4rem;
  list-style: none;
}

.page ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: var(--primary-color);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.5rem;
  margin-top: 1rem;

  transition: background 700ms;
}
.page ul li a:hover {
  background: var(--primary-color-dark);
}

.page .footer {
  margin-top: 3rem;
  font-size: 1.4rem;
}
